<?xml version="1.0"?>
<launch>
    <arg name="play_bag" default="true"/>
    <arg name="bag_file_name" default="$(find analysis_mp_chaser)/world/mp_chaser_airsim_dual.bag"/>
    <arg name="rviz_display" default="true"/>

    <group if="$(arg play_bag)">
        <node name="ros_bag_play" pkg="rosbag" type="play" args="--clock -r 1.0 -s 5.0 $(arg bag_file_name)"/>
    </group>
    <group if="$(arg rviz_display)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find analysis_mp_chaser)/rviz_config/dual_total.rviz"/>
    </group>

    <node pkg="analysis_mp_chaser" type="analyzer" name="analyzer" output="screen">
        <param name="is_dual" value="true"/>
        <param name="write_total_trajectory" value="false"/>
        <param name="total_trajectory_filename_write" value="$(find analysis_mp_chaser)/log/actor_trajectory_airsim_dual.txt"/>
        <param name="total_trajectory_filename_read" value="$(find analysis_mp_chaser)/data/actor_trajectory_airsim_dual.txt"/>
    </node>

</launch>